* {
  margin: 0%;
  padding: 0%;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-img {
  width: 150px;
}

.searchbar-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  width: 100%;
  margin-left: 50px;
  text-align: center;
  margin-right: 20px;
}

.searchbar input {
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  border-radius: 20px;
  border: none;
}

.searchbar-btn button {
  background-color: #3761A8;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 15px 32px;
}


.searchbar-btn button:hover {
  background-color: #FECA1B;
  cursor: pointer;
  color: black;
}

.btns-conteiner {
  margin-top: 35px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.pokedex-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}


.pokemon-card {
  width: 90%;
  display: flex;
  box-shadow: 4px 4px 4px rgb(37, 37, 37);
  border-radius: 3px;
}

.pokemon-card:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.pokedex-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-conteiner {
  padding: 0px 5px;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.pokemon-heart-btn {
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  cursor: pointer;
  align-items: center;
}

.not-found-text {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
  margin-top: 55px;
}

@media (max-width: 568px) {
  .pokedex-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .searchbar {
    margin-left: 50px;
  }
}