.home {
    text-align: center;
}

.img-home {
    width: 100%;

}

.apresentacao {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.apresentacao div {
    margin-top: 25px;
    padding: 5%;
}

.apresentacao div p {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5em;
}

a {
    color: #FECA1B;
    margin: 5%;
}

h1 {
    color: white;
    margin: 5%;
    font-size: 2.5rem;
}

#panel {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10%;
    margin-left: 3%;
    font-size: 1.5rem;
    line-height: 1.5em;
}

.main-home {
    color: black;
}

@media (max-width: 568px) {
    #panel {
        margin-top: 15px;
        font-size: 1rem;
        margin-bottom: 20%;
    }

    .apresentacao div p {
        text-align: left;
        font-size: 1rem;
        line-height: 1.0em;
        line-height: 1.3em;
    }

}