.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.header-menu{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header-menu li{
    list-style: none;
}
.header-menu li a{
    color: white;
    font-size: 1.0rem;
}


@media (max-width: 568px) { 
    .header{
        text-align: center;    
        display: block;
    }
  }
  