.login-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-bottom: 50px;
}

.login-header img{ width: 100px; border-radius: 50%;}
.login-header h1{ 
    color: #FFC303;
}

.login-input{
    border: 2px solid #FFC303;
    border-radius: 8px;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login-button{
    background-color: #3761A8;
    padding: 15px;
    border-radius: 8px;
    color: #ffff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    border: none;
}

.login-button:disabled{
    border: none;
    background-color: rgba(128, 128, 128, 0.377);
    color: grey;
}